* text=auto eol=lf
*.md text
*.py text
*.js text
*.html text
*.css text
*.json text
*.jsonl text
*.sql text
*.toml text
*.yml text
*.yaml text
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
*.zip binary
*.sqlite binary
